* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --rojo: #e50914;
    --rojo-hover: #f3020e;
    --white: #fff;
    --oscuro3: #333;
    --oscuro2: #222;
    --oscuro75: #757575;
    --black: #000;
    --azul: #0071eb;
    --amarillo: #ffa00a;
    --transparente: rgba(0, 0, 0, 0.5);
    --transition: 0.5s ease all;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    background: var(--black);
    color: var(--white);
}
img {
    width: 100%;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}
.max-width {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
}
/* header */

.header {
    width: 100%;
    min-height: 100vh;
    background-image: url("../img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    border-bottom: 8px solid var(--oscuro2);
    user-select: none;
    transition: 1s ease background-image;
    z-index: 10;
    position: relative;
}
.header::after{
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    background-image: 
        linear-gradient(
            to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.8) 100%
        );
    z-index: -1;
}
.header-contenedor {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4%;
}
.header-logo {
    width: 150px;
}
.header-botones {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.header-select {
    border: 1px solid var(--oscuro75);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}
.header-select__i {
    font-size: 14px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 10;
}
.header-select__select {
    background: var(--transparente);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    position: relative;
    cursor: pointer;
    width: 119px;
    text-align: center;
    padding: 9%;
    padding-left: 25px;
}
.header-select__option {
    background: var(--black);
    position: absolute;
    cursor: pointer;
    padding: 5px;
}
.header-botones__button {
    padding: 10px 25px;
    border: none;
    background: var(--rojo);
    color: var(--white);
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.header-botones__button:hover {
    background: var(--rojo-hover);
}
.header-contenedor-texto {
    width: 100%;
    flex: 1;
    top: auto;
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-texto {
    min-width: 100%;
    max-width: 800px;
    width: 100%;
    height: fit-content;
    padding: 4%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
}
.header-texto__title {
    max-width: 690px;
    width: 100%;
    font-size: 55px;
    font-weight: 500;
}
.header-texto__parrafo {
    font-size: 25px;
    margin-bottom: 20px;
}
.header-texto__pregunta {
    font-size: 18px;
}
.header-texto__form {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
.header-form__input {
    flex-basis: 65%;
    width: 450px;
    height: 54px;
    padding: 3% 2%;
    border: 1px solid var(--transparente);
    font-size: 17px;
    outline: none;
    border-radius: 5px;
}
.header-form__button {
    flex-basis: 35%;
    width: 200px;
    height: 54px;
    padding: 2%;
    color: var(--white);
    background: var(--rojo);
    font-size: 25px;
    border-radius: 5px;
}
.header-button__i {
    font-size: 20px;
}
.header-form__button:hover {
    background: var(--rojo-hover);
}

/* main */
.main {
    width: 100%;
    height: 100%;
}
.main-contenedor {
    border-bottom: 8px solid var(--oscuro2);
}
.main-flex {
    width: 100%;
    height: 100%;
    padding: 10%;
    display: flex;
    align-items: center;
}

.header-texto__title--margin{
    margin-bottom: 20px;
}
.main-animacion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.main-animacion__img {
    max-width: 459px;
    width: 100%;
}
.main-animacion_video {
    position: absolute;
    z-index: 5;
    width: 340px;
    height: 100%;
    top: -5px;
    z-index: -1;
}
.main-loading{
    bottom: 20px;
    background: var(--black);
    position: absolute;
    width: 300px;
    height: 90px;
    border: 2px solid var(--oscuro2);
    border-radius: 5px;
    padding: 5px 8px;
    padding-right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.main-loading__negrita{
    font-weight: 500;
}
.main-loading__azul{
    color: var(--azul);
}
.main-loading__boxshot{
    width: 50px;
}
.main-iconos{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: right;
    position: relative;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.main-iconos::after{
    content: " ";
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 3px dotted var(--azul);
    animation: girar 3s ease infinite backwards;
}
.main-iconos::before{
    content: " ";
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 0 0 3px 1px var(--white);
    animation: espandir 3s ease infinite ;
}
.main-iconos i{
    position: absolute;
}

.main-iconos i.main-iconos__download{
    opacity: 1;
    animation: desaparecer 3s  infinite backwards;
}
.main-iconos i.main-iconos__mobile{
    opacity: 0;
    animation: aparecer 3s  infinite;

}
@keyframes desaparecer {
    0%{
        opacity: 1;
    }
    20%{
        bottom: 10px;
    }
    70%{
        opacity: 0;
    }
    100%{
        bottom: -30px;
        opacity: 0;
    }
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    100%{
        color: var(--azul);
        opacity: 1;
    }
}

@keyframes espandir {
    0%{
        transform: scale(1.1);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes girar {
    0%{
        transform: rotate(0deg);

    }
    5%{

    }
    100%{
        transform: rotate(360deg);
    }
}
.main-iconos_mobile{
    opacity: 0;
}
.main-contenedor:nth-last-child(4) .main-flex{
    flex-direction: row-reverse;
    padding-left: 0;
}
.main-contenedor:nth-last-child(3) .main-animacion_video{
    width: 300px;
    top: -50px;
}
.main-contenedor:nth-last-child(2) .main-flex{
    flex-direction: row-reverse;
}
.main-contenedor:nth-last-child(5) .main-animacion_video{
    max-width: 100%;
    width: 340px;
}
.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 10%;
    text-align: center;
}

.main-items{
    width:75%;
    height: 100%;
    text-align: left;
    margin-top: 50px;
}
.main-item{
    width: 100%;
    height: 100%;
}
.main-toogle{
    padding: 3%;
    background: var(--oscuro3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid var(--black);
}
.main-texto{
    width: 100%;
    max-height: 0;
    transition: max-height .25s cubic-bezier(.5,0,.1,1);
    overflow: hidden;
    background: var(--oscuro3);
    margin-bottom: 5px;
}
.main-texto__padding{
    width: 100%;
    height: 100%;
    padding: 3%;
}
.main-toogle.active ~ .main-texto{
    max-height: 1200px;
    overflow: none;
}
.main-toogle__texto{
    font-size: 20px;
    font-weight: 500;
}
.main-texto__texto{
    font-size: 19px;
    font-weight: 300;
}
.margin{
    margin-bottom: 20px;
}
.main-ico{
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-ico__plus,
.main-ico__times{
    position: absolute;
    font-size: 30px;
    transition: 0.2s ease;
}
.main-ico__plus{
    opacity: 1;
}
.main-ico__times{
    opacity: 0;
}
.main-toogle.active .main-ico__plus{
    opacity: 0;
}
.main-toogle.active .main-ico__times{
    opacity: 1;
}
.main-formulario{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footer{
    width: 100%;
    height: 100%;
}
.footer-contenedor{
    padding: 5% 10%;
}
.footer-contenedor__title{
    color: var(--white);
}
.footer-grid{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 20px 0;
}
.footer-grid__enlace{
    margin: 3px 0;
}
.footer-grid__a{
    color: var(--oscuro75);
    transition: var(--transition);
}
.footer-grid__a:hover{
    color: var(--white);
}
.footer-grid__texto{
    margin-top: 20px;
}


@media (max-width: 1206px) {
    .main-contenedor:nth-last-child(5) .main-animacion_video{
        max-width: 73%;
    }
}
@media (max-width: 995px) {
    .main-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-contenedor:nth-last-child(5) .main-flex,
    .main-contenedor:nth-last-child(2) .main-flex,
    .main-contenedor:nth-last-child(4) .main-flex{
        flex-direction: column;
        padding-left: 10%;
    }
}

@media (max-width: 780px) {
    .header-texto__form {
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .header-form__input {
        max-width: 450px;
        width: 100%;
        flex-basis: 100%;
    }
    .main-items{
        width:100%;
        height: 100%;
        text-align: left;
        margin-top: 50px;
    }
   
}
@media (max-width: 1160px) {
    .main-contenedor:nth-last-child(3) .main-animacion_video{
        width: 240px;
        top: -15%;
    }
}
@media (max-width: 999px) {
    .main-contenedor:nth-last-child(3) .main-animacion_video{
        width: 300px;
        top: -15%;
    }
}
@media (max-width: 587px) {
    .main-contenedor:nth-last-child(3) .main-animacion_video{
        width: 60%;
        top: -15%;
    }
    .main-animacion_video{
        width: 74%;
    }
}
@media (max-width: 496px) {
    .header-contenedor {
        padding: 5px 4%;
    }
    .header-logo {
        width: 100px;
    }
    .header-botones {
        gap: 10px;
    }
    .header-select__i {
        font-size: 13px;
        left: 5px;
    }
    .header-select__select {
        width: 95px;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-right: 0;
        font-size: 13px;
    }
    .header-botones__button {
        width: 90px;
        padding: 6px 0;
        font-size: 13px;
    }
    .main-loading{
        width: 100%;
        height: 70px;
        bottom: 0;
    }
    .main-loading__boxshot{
        width: 30px;
    }
    .footer-grid{
        grid-template-columns: 1fr;
    }
    .header-texto__title{
        font-size: 45px;
    }
}
 @media (max-width: 298px) {
    .main-loading__negrita{
        font-size: 13px;
    }
    .main-loading__azul{
        font-size: 10px;
    }
    .main-flex{
        padding: 20% 5%;
    }
    .main-contenedor:nth-last-child(5) .main-flex,
    .main-contenedor:nth-last-child(2) .main-flex,
    .main-contenedor:nth-last-child(4) .main-flex{
        flex-direction: column;
        padding-left: 5%;
    }
 }
